@model da1.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
